/*----------------------------------------------------------------
Mermaid
----------------------------------------------------------------*/
/* rect.note, */
.statediagram-note rect {
  fill: rgba(255, 199, 119, 0.3) !important;
  stroke: rgba(255, 199, 119, 0.75) !important;
}

/* .classGroup rect{
  fill: #2f334d !important;
  stroke: #444a73 !important;
} */

div.mermaid {
    text-align: center;
    zoom: 100%;
}

.mermaid svg {
    min-height:150px;
    width: auto;
}

/*----------------------------------------------------------------
Picture
----------------------------------------------------------------*/
/* picture enlarge in preview */
/* .markdown-preview-view img:active {
	cursor:zoom-out;
	display:inline-block;
	z-index:100;
	position:fixed;
    max-height:100%;
    max-width:100%;
    height:auto;
    width:auto;
    object-fit: contain;
    margin:auto;
    text-align:center;
    padding:0;
    top: 50%;
    left:0;
    right:0;
    bottom:50%;
    background:var(--background-primary);
    zoom: 150%;
} */

/*----------------------------------------------------------------
Color
----------------------------------------------------------------*/
/* tag color */
/* -- red --  */
a[href^="#h/"]{
    display:none !important;  
}

.cm-tag-hred ~ span.cm-highlight{
	background-color: rgb(255,0,0) !important;
}

.cm-tag-hred ~ span.cm-strong {
	color: rgb(255,0,0);
}

.cm-tag-hred ~ span.cm-em {
	color: rgb(255,0,0);
}

a[href^="#h/red"] + mark {
	background-color: rgb(255,0,0) !important;
}

a[href^="#h/red"] + strong {
	color: rgb(255,0,0);
}

a[href^="#h/red"] + em {
	color: rgb(255,0,0);
}

/* html color */
/* theme */
.theme-dark,.theme-light{
    --default-highlight: #FFFF0066;
    --yellow-highlight: #FFF3A3A6;
    --pink-highlight: #FFB8EBA6;
    --blue-highlight: #ADCCFFA6;
    --green-highlight: #BBFABBA6;
    --red-highlight: #FF5582A6;
    --grey-highlight: #CACFD9A6;
    --orange-highlight: #FFB86CA6;
    --purple-highlight: #D2B3FFA6;

    --default-string: #FFFFFFFF;
    --yellow-string: #f9ffa3ec;
    --pink-string: #ff82e4;
    --blue-string: #757ef3fb;
    --green-string: #08f808;
    --red-string: #ff0000;
    --grey-string: #CACFD9A6;
    --orange-string: #ff8400;
    --purple-string: #d1b3ff;
  
    --text-highlight-rgb: var(--default-highlight);
    --text-string-rgb: var(--default-string);
}
/* preview */
.markdown-preview-view mark {
    font-weight: 500;
    background-color: var(--text-highlight-rgb);
}

.markdown-preview-view span                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      {
    font-weight: 200;
    color: var(--text-string-rgb);
}
/* variable */
mark.yellow{ --text-highlight-rgb: var(--yellow-highlight); }
mark.pink{ --text-highlight-rgb: var(--pink-highlight); }
mark.blue{ --text-highlight-rgb: var(--blue-highlight); }
mark.green{ --text-highlight-rgb: var(--green-highlight); }
mark.red{ --text-highlight-rgb: var(--red-highlight);  }
mark.grey{ --text-highlight-rgb: var(--grey-highlight);  }
mark.orange{ --text-highlight-rgb: var(--orange-highlight);  }
mark.purple{ --text-highlight-rgb: var(--purple-highlight);  }

span.yellow { --text-string-rgb: var(--yellow-string); }
span.pink{ --text-string-rgb: var(--pink-string); }
span.blue{ --text-string-rgb: var(--blue-string); }
span.green{ --text-string-rgb: var(--green-string); }
span.red{ --text-string-rgb: var(--red-string);  }
span.grey{ --text-string-rgb: var(--grey-string);  }
span.orange{ --text-string-rgb: var(--orange-string);  }
span.purple{ --text-string-rgb: var(--purple-string);  }